.delete-btn {
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: #b366cc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.history-container {
  padding: 2rem;
  color: var(--text-color);
}

.history-item {
  margin-bottom: 1rem;
}