.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--background-color);
  color: var(--text-color);
  flex-direction: column;
}

.question-card {
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.theme-toggle-btn {
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.option-btn {
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.timer {
  font-size: 1.5rem;
  margin-top: 15px;
}

.question-text {
  font-size: 1.9rem;
  font-weight: bold;
}

.question-meta {
  font-size: 1.2rem;
  margin-bottom: 15px;
}