:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #6e83f8;
  --secondary-color: #f1f1f1;
  --hover-color: #00b7ff; 
}

.light {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #e130e7;
  --secondary-color: #e07de4;
  --hover-color: #ff0000;
}

.dark {
  --background-color: #2c3e50;
  --text-color: white;
  --primary-color: #9b59b6;
  --secondary-color: #134377;
  --hover-color: #00ccff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--hover-color);
  color: white;
  transform: scale(1.05);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.container {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.theme-toggle-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}